<%= render :partial => "header" %>
<div class="container">
  <div class="well" style="width: 100%;height: auto;margin-top: -15px;">
    <h2 class='heading-fix'> List of Payment Receipts</h2>
    <div>
      <a href="<%= new_billing_path %>" class='btn btn-normal create-btn-position' style="float : left;">Make Payment</a>
      <a href="<%= admin_path %>" class='btn btn-normal create-btn-position'>Back</a>
    </div>

    <div class="table-responsive list-view div-documents-list-section fix-position-table table-margin-top">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <!-- <th class="entry-num">Entry Number</th> -->
            <th class="date">Name</th>
            <th class="name">Created at</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody class="table-body-background change-font">
          <% @billings.each do |bill| %>
            <tr>
              <td><%= bill.name %></td>
              <td><%= bill.created_at.strftime("%d-%m-%Y : %T") %></td>
              <td><%= link_to 'invoice', invoice_path(bill), :class=> 'text-color-fix' %> | <%= link_to 'download', pdf_output_path(bill), :class=> 'text-color-fix' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
