<!DOCTYPE html>
<html>
<head>
  <title>Tution</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6WE81p0EKP9psZ6j3HiR26VANbeEnNd8&sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
